@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <form action="/Student/insertstudent">
   <table>
    <tr>
        <th>Student Id</th> 
        <td><input type="text" name="id"></input></td>
        
    </tr>
    <tr>
       <th>Student name</th>
        <td><input type="text" name="name"></input></td>
        
    </tr>
    <tr>
        <th>Student Email</th> 
        <td><input type="text" name="email"></input></td>
        
    </tr>
    <tr>
        <th>Student password</th> 
        <td><input type="text" name="password"></input></td>
        
    </tr>
   </table>
    <button type="submit">submit</button>
   </form>
</div>
