@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div>
    <form action="/Student/Delstudent">
    <input type ="text" name="id"></input>
    <button type="submit">submit</button>
    </form>
</div>